PassportValidationServiceClient/Connected Services/PassportValidationService/Validate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PassportValidationLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PassportValidationLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidateMRZ_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDateOfBirthCheckDigitValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDateOfBirthCrossCheckValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDateOfExpiryCheckDigitValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDateOfExpiryCrossCheckValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFinalCheckDigitValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsGenderCrossCheckValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNationalitCrossCheckValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPassportNumberCheckDigitValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPassportNumberCrossCheckValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPersonalNumberCheckDigitValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateMRZ_Result" nillable="true" type="tns:ValidateMRZ_Result" />
</xs:schema>