PassportValidationServiceClient/Connected Services/PassportValidationService/Validate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54207/Validate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PassportValidationLibrary" />
  <xs:element name="ValidateMRZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfExpiry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personalNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMRZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PassportValidationLibrary" minOccurs="0" name="ValidateMRZResult" nillable="true" type="q1:ValidateMRZResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>